 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

 body {
    height: 100vh;
    display: flex; /* Layout principal */
        }

        /* --- BARRA LATERAL (SIDEBAR) --- */
.sidebar {
    width: 280px;
    background-color: white;
    border-right: 1px solid #ccc;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
        }

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
        }

.logo i {
    color: #009688; /* Color verde azulado de la patita */
    font-size: 32px;
        }

.sidebar-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
        }

.sidebar-menu i {
    font-size: 24px;
    color: #333;
        }

.menu-btn {
    background-color: #83a5c2; /* Azul grisáceo */
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
        }

.sidebar-menu, a {
    text-decoration: none;
}

        /* --- CONTENIDO PRINCIPAL --- */
.main-content {
    flex: 1; /* Ocupa el resto del espacio */
    display: flex;
    flex-direction: column;
        }

        /* --- HEADER SUPERIOR --- */
header {
    height: 140px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: flex-end; /* Alinea items a la derecha */
    align-items: center;
    padding-right: 300px;
    gap: 360px; /* Espacio entre botones */
        }

.action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
        }

.icon-box {
    width: 60px;
    height: 60px;
    background-color: #7da0c0; /* Azul de los botones */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
        }

.icon-box i {
    font-size: 30px;
    color: #111; /* Iconos negros */
        }

.action-text {
    font-size: 14px;
    color: #333;
    font-weight: 500;
        }

        /* --- ÁREA DE TRABAJO (FONDO GRIS) --- */
.workspace {
    background-color: #f1f5f9; /* Color de fondo gris azulado claro */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        }

.welcome-title {
    font-size: 48px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
        }

.doctor-name {
    font-size: 20px;
    color: #666;
    font-weight: 500;
        }
