body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    text-align: center;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px;
}

.header a{
    text-decoration: none;
    color: #000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
        }

.logo i {
    color: #009688; 
    font-size: 32px;
        }

.titulo {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
}

/* TITULOS */
.titulo-principal {
    margin-top: 10px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #000;
}

.subtitulo-rol {
    margin-top: 45px;
    font-size: 1.7rem;
    color: #000;
    font-weight: bold;
}

/* TARJETA LOGIN */
.login-card {
    background: #7fa8c1;
    padding: 40px 30px;
    width: 420px;
    margin: 30px auto;
    border-radius: 12px;
}

.input {
    width: 85%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin-bottom: 18px;
    font-size: 1rem;
}

/* OPCIONES BAJO LA TARJETA */
.opciones-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: -5px;
    font-size: 0.95rem;
}

.recordar input {
    margin-right: 5px;
}

.registro-link {
    color: #008cff;
    text-decoration: none;
}

.registro-link:hover {
    text-decoration: underline;
}

/* BOTONES ROL */
.roles {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.btn-rol {
    background: #88a8c0;
    border: none;
    padding: 12px 35px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}

.btn-rol:hover {
    background: #7b97ab;
}
